/* ==========================================================================
   Archive pages
   ========================================================================== */




/*
   Post archive
   ========================================================================== */

.post-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #4e2a8e;
  font-size: 16px;


  li {
    padding: 9px 0;
    border-bottom: .5px dotted;
    //@include font-size(25,no);
    font-size:1.4rem;
    //margin: 5px 10 20px 10;
    //padding: 5px 0 10px 0;
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: .2 rem;


    > a {
      border-bottom-width: 0; /* remove underlines from items in post indexes */
    }
  }

  a > span {
    float: right;
    margin: 5px 10 20px 10;
    padding: 5px 0 10px 0;
  }

  .entry-date {
    //@include font-size(16,no);
    //text-transform: uppercase;
    font-size: 1rem;
    color: grey;
    margin-bottom: .2rem;
    display: block;
    font-weight: 700;
    display: block;

    /*@include media($medium) {
      display: block;
    }*/
  }

  /* post excerpt */
  .excerpt {
    display: block;
    float: none;
    //@include font-size(14, no, 16);
    font-size: 1.2rem;
    margin: 5px 10 20px 10;
    padding: 5px 0 10px 0;
    font-weight: normal;
    color: #3d3d3d;
    line-height: 1.5;
    width: 100%;

    /*@include media($medium) {
      width: 80%;
    }

    @include media($large) {
      width: 80%;
    }*/
  }
}

/*
   Tag archive
   ========================================================================== */

.tag-box {
  list-style: none;
  margin: 0;
  padding: 4px 0;
  overflow: hidden;
  @include clearfix;

  &.inline li {
    float: left;
    @include font-size(14);
    line-height: 2.5;
  }

  a {
    padding: 4px 6px;
    margin: 2px;
    background-color: lighten($black, 90);
    @include rounded(4px);
    text-decoration: none;

    span {
      vertical-align: super;
      @include font-size(10);
    }
  }
}
